.pc-logo-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;

  &.pc-logo-list-active {
    opacity: 1;
  }

  .pc-logo-list-item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    @include media-breakpoint-up(md) {
      width: 33.3333%;
    }

    @include media-breakpoint-up(lg) {
      width: 25%;
    }
  }

  img {
    filter: grayscale(100%);
    opacity: .75;
    transition: filter .25s ease-in-out, opacity .25s ease-in-out;

    &:hover {
      filter: grayscale(0%);
      opacity: 1;
    }
  }
}