.testimonial-slider {
  .testimonial-slide {
    width: 100%;
    overflow: hidden;
    padding-left: 3rem;

    &:focus {
      outline: none;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }
  }
}

.testimonial {
  .testimonial-quote {
    font-size: rem(20px);
    color: $blue;
    position: relative;
    line-height: 1.1;
    font-weight: 300;

    &:before, 
    &:after {
      position: relative;
      font-size: rem(60px);
      line-height: 0;
      font-weight: bold;
      font-family: $headings-font-family;
      font-style: italic;
      top: 1.8rem;
    }

    &:before {
      content: "“";
      position: absolute;
      top: 1.5rem;
      left: -2rem;
    }

    &:after {
      content: "”";
    }
  }

  .testimonial-meta {
    display: flex;
    align-items: center;
  }

  .testimonial-details {
    margin: 0;
  }

  .testimonial-author {
    display: block;
  }
}

.testimonial-image img {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  border-radius: 100%;
  object-fit: cover;

  @include media-breakpoint-up(lg) {
    min-width: 20rem;
    height: 12rem;
    margin-left: 4rem;
    border-radius: 0;
  }
}



@each $name, $color in $theme-colors {

  &.section-background-#{$name} {
    .testimonial .testimonial-quote {
      color: $white;
    }
  }
}



// Slider Buttons

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li:only-child {
  display: none;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    border-radius: 100%;
    text-align: center;
    opacity: .25;
    background-color: $blue;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    background-color: $blue;
}


@each $name, $color in $theme-colors {

  &.section-background-#{$name} {
    .slick-dots li button:before {
      background-color: $white;
    }
    
    .slick-dots li.slick-active button:before {
        opacity: .75;
        background-color: $white;
    }
  }
}