.video-embed {
  background-color: #000;
  margin-bottom: 2rem;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
  min-height: 50vh;

  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: $z-index-base-plus;
    border: none;
  }
}