.main-navigation {
  order: 1;
  z-index: $main-header-z-index;
  position: relative;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $main-navigation-height;
    background: $white;
    order: 2;
  }

  .main-navigation-wrapper {

    @include media-breakpoint-up(lg) {
      @include make-fluid-container(xl);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .main-navigation-logo {
    width: rem(250px);
    position: relative;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }

    .main-navigation-logo-reverse {
      display: none;
    }
  }

  .main-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-breakpoint-up(lg) {
      display: flex;
    }

    > .main-navigation-list-item {
      border-bottom: 1px solid $gray-100;
      position: relative;
  
      &:first-child {
        border-top: 1px solid $gray-100;
      }
  
      @include media-breakpoint-up(lg) {
        border: 0;
  
        &.main-navigation-list-item__active > a {
          color: $gray-600;
        }
  
        &:first-child {
          border: 0;
        }
      }
  
      > a {
        text-transform: uppercase;
        color: $gray-600;
        font-size: rem(13px);
        letter-spacing: rem(1px);
        white-space: nowrap;
        text-decoration: none;
        padding: 1rem 1rem .7rem 1rem;
        display: block;
        font-weight: bold;
  
        @include media-breakpoint-up(lg) {
          padding: .75rem 1rem;
          color: $gray-600;
        }
      }

      @include media-breakpoint-up(lg) {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: $blue;
          opacity: 0;
          transition: opacity .25s ease-in-out;
          pointer-events: none;
        }

        &.main-navigation-has-children::after {
          right: -.9rem;
          left: -.9rem;
        }

        &:hover {
          position: relative;

          &::after {
            opacity: 1;
            pointer-events: auto;
          }

          a {
            position: relative;
            z-index: 2;
            color: $white;
          }
        }
      
        &.main-navigation-cta {
          margin-left: .9rem;

          &::after {
            display: none;
          }

          a {
            color: $white;
            background: $red;
            transition: background-color .25s ease-in-out;

            &:hover {
              background: darken($red, 10%);
            }
          }
        }
      }
    }
  }

  &.main-navigation__reverse {

    @include media-breakpoint-up(lg) {
      border-bottom-color: transparent;
      background: transparent;

      .main-navigation-logo {
        position: relative;

        .main-navigation-logo-color {
          display: none;
        }

        .main-navigation-logo-reverse {
          display: block;
        }
      }
      .main-navigation-list {
        > .main-navigation-list-item > a:not(:hover) {
          color: $white;
        }
  
        > .main-navigation-list-item.main-navigation-list-item__active > a {
          color: $primary;
        }
      }
    }
  }
}